/Demo2/nbproject/private/
/Demo2/build/
/evidenceJdbc2/nbproject/private/
/ResponsiveRabbits/nbproject/private
/jsp/jsp1.1/nbproject/private/
/jsp/jsp1.1/build/
/jsp1/nbproject/private/
/jsp1/build/
/jsp_1/nbproject/private/
/jsp_1/build/
/sir/jsp/jsp-ex1-GetStarted/target/
/sir/servlet/servlet-ex12-FilterConfig/build/
/sir/servlet/servlet-ex2-WelcomeFiles/dist/
/sir/servlet/servlet-ex4-ServletContext/dist/
/sir/servlet/servlet-ex5-ServletConfig/dist/
/sir/servlet/servlet-ex6-ServletRequest/dist/
/sir/servlet/servlet-ex6-ServletRequest/nbproject/private/
/sir/servlet/servlet-ex8-RequestDispatcher/nbproject/private/
/sir/servlet/servlet-ex8-RequestDispatcher/build/
/jsp_1.1/nbproject/private/
/jsp_1.1/build/
/sir/jsp/jsp-ex2-declarationTag/target/