/Demo2/nbproject/private/
/Demo2/build/
/evidenceJdbc2/nbproject/private/
/ResponsiveRabbits/nbproject/private
/jsp/jsp1.1/nbproject/private/
/jsp/jsp1.1/build/
/jsp1/nbproject/private/
/jsp1/build/
/jsp_1/nbproject/private/
/jsp_1/build/
/sir/jsp/jsp-ex1-GetStarted/target/
/sir/servlet/servlet-ex12-FilterConfig/build/
/sir/servlet/servlet-ex2-WelcomeFiles/dist/
/sir/servlet/servlet-ex4-ServletContext/dist/
/sir/servlet/servlet-ex5-ServletConfig/dist/
/sir/servlet/servlet-ex6-ServletRequest/dist/
/sir/servlet/servlet-ex6-ServletRequest/nbproject/private/
/sir/servlet/servlet-ex8-RequestDispatcher/nbproject/private/
/sir/servlet/servlet-ex8-RequestDispatcher/build/
/jsp_1.1/nbproject/private/
/jsp_1.1/build/
/sir/jsp/jsp-ex2-declarationTag/target/
/testJap/nbproject/private/
/testJap/build/
/sir/jsp/jsp-ex4-implicitobject-config/nbproject/private/
/sir/jsp/jsp-ex5-implicitObject-session/nbproject/private/
/sir/jsp/jsp-ex6-implicitObject-pageContext/nbproject/private/
/sir/jsp/jsp-ex7-implicitObject-page/nbproject/private/
/sir/jsp/jsp-ex3-ImplicitObjects/target/
/sir/servlet/servlet-ex1-GetStared/nbproject/private/
/sir/servlet/servlet-ex2-WelcomeFiles/nbproject/private/
/sir/servlet/servlet-ex3-LoadOnStartup/nbproject/private/
/sir/servlet/servlet-ex4-ServletContext/nbproject/private/
/sir/servlet/servlet-ex5-ServletConfig/nbproject/private/
/sir/servlet/servlet-ex1-GetStared/build/
/Servled/ServledSenredirec/nbproject/private/
/Servled/ServletExam16JspConfiq/nbproject/private/
/Servled/ServletExam16JspConfiq/build/
/Servled/ServletExam16JspConfiq/dist/
/Servled/Store/nbproject/private/
/sir/servlet/servlet-ex9-SendRedirect/nbproject/private/
/Servled/servletSendRedirect/nbproject/private/
/sir/servlet/servlet-ex9-SendRedirect/build/
/Servled/servletSendRedirect/build/
/chapter_3/nbproject/private/
/chapter_3/build/
/Chapter3_115/nbproject/private/
/Chapter3_115/build/
/sir/jsp/jsp-ex9-actionTag-forward/nbproject/private/
/sir/jsp/jsp-ex9-actionTag-forward/build/
/jsp/jspEx9/nbproject/private/
/jsp/jspEx9/build/
/sir/jsp/jsp-ex10-actiontag-forwardWithtag/nbproject/private/
/jsp/jspEx10/nbproject/private/
/jsp/jspEx10/build/
/sir/jsp/jsp-ex10-actiontag-forwardWithtag/build/
/sir/jsp/jsp-ex11-actionTag-include/nbproject/private/
/sir/jsp/jsp-ex11-actionTag-include/build/
/sir/jsp/jsp-ex12-useBean/nbproject/private/
/sir/jsp/jsp-ex12-useBean/build/
/jsp/jspExam12/nbproject/private/
/jsp/jspExam12/build/
/sir/jsp/jsp-ex13-getSetProperty/nbproject/private/
/sir/jsp/jsp-ex13-getSetProperty/build/
/sir/jsp/jsp-ex14-reuseBeen/nbproject/private/
/sir/jsp/jsp-ex14-reuseBeen/build/
/sir/jsp/jsp-ex15-crud/nbproject/private/
/sir/jsp/jsp-ex15-crud/build/
/sir/jsp/Loginwithdb/nbproject/private/
/sir/jsp/Loginwithdb/build/
/Chapter3_114/nbproject/private/
/Chapter3_114/build/
/Chapter3_117/nbproject/private/
/Chapter3_117/build/
/Chapter4/nbproject/private/
/cha4_145/nbproject/private/
/cha4_145/build/
/Employee_Management_System/nbproject/private/
/Employee_Management_System/build/
/Ch4/nbproject/private/
/jstl/Ch4/build/
/jstl/Chapter4/build/
/jstl/Ch4/dist/
/jstl/jstl-crud/nbproject/private/